@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #f8f8f8;
    font-family: 'Rubik', sans-serif;
}
h1{
    color:#212121;
}
